<div *ngIf="selectedIndex != null">
    <h1 class="main-title">Angular 2 Faster!</h1>
    <md-card class="center-card">
        <md-input-container class="full-width">
            <input type="number" mdInput placeholder="Tab Selected Index" [(ngModel)]="selectedIndex">
        </md-input-container>
    </md-card>
    <md-card class="center-card padding-none">
        <md-card-content>
            <md-tab-group [(selectedIndex)]="selectedIndex">
                <md-tab label="Tab1">
                    Tab 1
                </md-tab>
                <md-tab label="Tab2">
                    Tab 2
                </md-tab>
            </md-tab-group>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <button md-button color="primary">Salvar</button>
        </md-card-actions>
    </md-card>
</div>