 .main-title {
     color: #1c1a21;
     text-align: center;
     font-size: 45px;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     margin-bottom: 10px;
     opacity: 0.95;
     @media (max-width: 400px) {
         font-size: 25px;
     }
 }
 
 .center-card {
     margin: 0 auto 20px;
     max-width: 600px;
     box-sizing: border-box;
 }
 
 .full-width {
     width: 100%;
 }
 
 .mat-tab-label {
     width: 33.333333%;
 }
 
 .mat-tab-body {
     padding: 15px 20px;
 }
 
 .mat-card-content {
     margin-bottom: 0;
 }
 
 .mat-card-actions {
     margin: 0;
     text-align: right;
 }
 
 .padding-none {
     padding: 0;
 }