@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'node_modules/@angular/material/core/theming/prebuilt/indigo-pink.scss';

body {
    background-color: #e9ecf0/*#bfd5e8*/;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'app/app.component';